<div class="app-component">
  <div class="row">
    <div class="col-md-12">
      <img width="300" alt="Lobster" src="assets/Lobster_Logo_dark.svg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">{{ organization.organization }}</div>
    <div class="col-md-12">Headquarters: {{ organization.location }}</div>
  </div>

  <div class="row">
    <div class="col-md-6" *ngFor='let team of organization.teams'>
      <app-team [teamData]="team"></app-team>
    </div>
  </div>
</div>
